
/*
.parrafo1{
    text-align: center;
}

.parrafo2{
    text-align: right;
}

.parrafo3 {
    display: flex;
    justify-content: center;
}

.parrafo4 {
    text-align: left;
}
 
h1 {
    text-align: center;
}

image{
    width: 30%;
}

button {
    display: block;
    margin-top: 20px;
}

.parrafo20 {
    text-align: left;
}

img{ 
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #7a7969;
}

.navegacion {
    width: 1000px;
    margin: 30px;
    background: #4a748f;

}

.navegacion ul {
    list-style: none;
}

.menu > li {
    display: inline-block
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: rgb(63, 20, 20);
    font-family: 'Open Sans';
    text-decoration: none;
}


.lista{
    text-align: left;
}

h2 {
    text-align: center;
}




table {
    width: 100%;
border-collapse: collapse;
}

th, td {
    border: 1px solid brown;
    padding: 8px;
    text-align: left;
}


th {
    background-color: brown;
}
.celdas {
    background-color: chartreuse;
}
.celdas1 {
    background-color: cadetblue;
}

.celdas2 {
    background-color: chartreuse;
}

.celdas3 {
    background-color: cadetblue;
}


h1 {
    text-align: center;
}
.table {
    height: 100%;
}
.autor{
    display: flex;
    flex-direction: column;
}

.autor p{
    border: 1px solid;
}
    

.tabla1 {
    height: 100%;
    border-collapse: collapse;
    background-color: rgb(98, 98, 160);
} 

.tabla2 {
    height: 100%;
    border-collapse: collapse;
    background-color: rgb(110, 74, 74);
}

th, td {
    border: 10px solid rgb(34, 38, 64);
    padding: 20px;
    text-align: left;

}



.columna {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display:flex;
}

.parrafos {
    display: flex;  Usamos flexbox para alinear elementos 
}
*/

h1 {
    text-align: c;
    background-color: blue;
}

.parrafoo {
    text-align: center;
}

.parrafos p {
    flex: 1; /* Cada párrafo ocupa todo el espacio disponible */
    padding: 10px; /* Espacio interno */
    margin: 0; /* Quitamos márgenes por defecto */
    border-right: 2px solid #8e3b3b; /* Borde derecho para el hr vertical */
}

.parrafos p:last-child {
    border-right: none; /* Eliminamos el borde derecho del último párrafo */
}

.orden {
    flex: 2;
    padding: 15;
    margin: 2;
    border: 2px solid #5751c3;

}









